Willkommen auf der Karte von morgen!
<br>
Du oder einer deiner Fans, KundInnen oder UnterstützerInnen hat euer Projekt am {{ entry.title }} auf der Karte von morgen eingetragen, der Plattform für den Wandel. Herzlichen Glückwunsch! Das bedeutet, dass ihr zukunftsfähige Arbeit macht und Teil einer Welt von morgen seid.
<br>
Sehr gerne könnt ihr eure Beschreibung verbessern oder positive Aspekte (Bewertungen) eures Projektes hinzufügen. <a href="https://{{ domain }}/de/m/main/e/{{ entry.id }}">Link zum Eintrag</a>
<br>
Und natürlich könnt ihr viele weitere Partner und Initiativen kartieren und bewerten, mit denen ihr in Kontakt steht und die sinnvolles für Mensch und Umwelt tun. Alles weitere zur Idee der Karte von morgen findet ihr hier: https://kartevonmorgen.org/
Sehr gerne könnt ihr die Karte von morgen auf eurer Homepage einbetten, sodass euch interessierte Menschen schnell entdecken können. <a href="https://www.kartevonmorgen.org/en/iframe/">Mehr zu den Iframes</a>
<br>
Die Karte von morgen wird euch für immer kostenfrei zur Verfügung stehen, getragen vom Verein Ideen³ e.V. und vielen Unterstütznden. Für die Entwicklung weiterer Funktionen sind wir auf Spenden angewiesen. Wenn für jeden Eintrag monatlich 1 € gespendet werden, kann sich diese Plattform unabhängig und organisch entwickeln. <a href="https://www.kartevonmorgen.org/spenden/">Jetzt ganz einfach online spenden!</a>
<br>
Viel Erfolg und macht weiter so!<br>
Deine Regionalpilotin und euer Team von morgen

<p><small>Um sich abzumelden, klicken Sie auf <a href="{{ entry.unsubscribe_link }}">diesen Link</a></small></p>
